<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deletando</title>
</head>
<body>
    <div>
        <img src=<%= dfilme.imagem %> >
    </div>
    <div>
        <h2>NOME:</h2>
        <p><%= dfilme.nome %></p>
        <h2>ANO:</h2>
        <p><%= dfilme.ano %></p>
        <h3>GÊNERO:</h3>
        <p><%= dfilme.genero %></p>
        <h2>PRODUTORA:</h2>
        <p><%= dfilme.produtora %></p>
        <h2>DURAÇÃO:</h2>
        <p><%= dfilme.duracao %></p>
    </div>
</body>
</html>