<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> JFlix| Detalhes</title>
</head>
<body>
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    <nav>
        <article>
            <img class="cad" src="/img/ver.png" alt="">
            <h1><a href="/">JFlix</a></h1>
        </article>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/criar">Cadastro</a></li>
        </ul>
    </nav>
    <header>
        <h1><%= dfilme.nome %></h1>
    </header>
    <section class="box">
        <img src="<%= dfilme.imagem %>" width="270"
        <div class="content">
            <ul>
                <li>Ano: <%= dfilme.ano %></li>
                <li>Gênero: <%= dfilme.genero %></li>
                <li>Produtora: <%= dfilme.produtora %></li>
                <li>Sinopse: <%= dfilme.descricao %></li>
            </ul>
        </div>
            <a href="/editar/<%= dfilme.id %>"> <button class="btn2">EDITAR</button></a>
            <form action="/deletar/<%= dfilme.id %>" method="POST">
                    <button class="btn" type="submit" onclick=confDeletar()>DELETAR</button>
            </form>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>
